body{
    background: #000000;
}
header
{
    background: #BBBBBB;
    padding: 20px 0;
}
.caixa
{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav
{
    position: absolute;
    top: 80px;
    right: 0px;
}
nav li /*Home,Contato,Produtos*/
{
    display: inline;
    margin: 0 0 0 15px;
}
nav a
{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
/*CARDS CABELO,BARBA,CABELO+BARBA*/
.produtos li
{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background: #CCCCCC;
    border-radius: 20px;
    margin: 0 1.5% 0;
    padding: 30px 20px;
    box-sizing: border-box ;
}
.produtos
{
    width: 940px;
    margin: 0 auto;
}
.produtos h2
{
    font-size: 30px;
    font-weight: bold;
}
.produto-preço
{
    font-size: 22px;
    font-weight:bold;
    margin-top: 10px;
}
.produto-descrição
{
    font-size: 18px;
}