 body{
	background-color:rgb(0, 0, 0) ;
 }
.titulo-centralizado2{
	text-align: center;
	color: #000000;
}
.titulo-centralizado {
	text-align: center;
	color: #737272;
}

#banner {
	width: 100%;
}

p {
	text-align: center; 
  }

#missao {
	font-size: 20px;
}

em strong {
	color: darkblue;
}

.itens {
	font-style: italic;
}

.principal {
	background: #737272;
	padding: 20px;
	border-radius: 20px;
}

.titulo-principal {
	padding-left: 20px;
	background-color: #737272;
	border-radius: 100px;
}

.beneficios {
	background: #737272;
	padding: 20px
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 20%;
}

.imgenbeneficios {
	width: 50%;
}
ul li{
	color: #737272;
}